* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.background-img {
    width: 100vw;
    height: 100vh;
}

/* Navbar styles */
.Navbar {
    padding: 3% 0;
    width: 100%;
    display: block;
    background-color: #FFBF69;
}

.Navbar__logo {
    width: 50%;
    font-size: 2rem;
    float: left;
}

.Navbar__logo__tag {
    margin-left: 30px;
}

.Navbar__link {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 2rem;
}

.Navbar__link__tag {
    color: black;
    text-decoration: none;
}

.Navbar__link__tag:visited {
    color: black;
    text-decoration: none;
}

.Navbar__link__tag:hover {
    color: white;
    text-decoration: underline;
}

/* Content styles */
.Content__image {
    width: 100%;
}

.Content__left-side {
    position: absolute;
    width: 40%;
    height: 100%;
    padding: 0 5% 0 5%;
    color: white;
}

.Content__left-side__header {
    margin-top: 40%;
    font-size: 7rem;
    width: 100%;
    word-spacing: 50px;
}

.Content__left-side__paragraph {
    margin: 30px 0 20px 0;
    font-size: 1.5rem;
    word-spacing: 5px;
}

.Content__left-side__btn {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    background-color: #CBF3F0;
    border: 0;
    margin-top: 60px;
    font-weight: bold;
}

/* About styles */
.About {
    padding: 7% 5%;
}

.About__text {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.About__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Options styles */
.Options {
    background-color: #CBF3F0;
}

.Options__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    gap: 10px;
}

.Options__img__container {
    text-align: center;
    width: 70%;
    padding: 7% 2% 15% 2%;
}

.Options__img__container__image {
    width: 50%;
}

.Options__title {
    padding-top: 100px;
    font-size: 2rem;
    text-align: center;
}

.Options__img__container__btn {
    background-color: #FFBF69;
    border: 0;
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    margin-top: 60px;
}

.Options__img__container__heading {
    font-size: 1.5rem;
    margin-top: 40px;
    width: 100%;
}

/* Ending styles */
.Ending {
    background-image: url(/images/bg-grid.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

}

.Ending__end-img__image {
    width: 70%;
    float: right;
    padding: 25% 15% 0 0;
}

.Ending__end-img {
    width: 40%;
    float: right;
}

.Ending__end-text {
    width: 60%;
    float: left;
}

.Ending__end-text__text {
    padding: 17% 0 0 10%;
    width: 80%;
    line-height: 2;
    text-align: start;
}

.Ending__end-text__text__header {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2rem;
}

/* Footer styles */
.Footer {
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    color: white;
}

.Footer__link {
    margin-top: auto;
    margin-bottom: auto;
}

/* Slider styles */
.Slider {
    width: 80%;
    height: 600px;

    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide-ana {
    height: 100%;
    margin-top: 40px;
}

.Slider__slides__container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Slider span {
    height: 50px;
    position: absolute;
    top: 50%;
    margin: -25px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.Slider__slides__container__title {
    top: 80% !important;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    cursor: auto !important;
    padding: 0 20px;
}

.Slider__slides {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.Slider__icon-arrow_back {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.Slider__icon-arrow_forward {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.Slider__icon-arrow_back svg,
.Slider__icon-arrow_forward svg {
    width: 100%;
    fill: #fff;
}

.Slider__icon-arrow_back:hover,
.Slider__icon-arrow_forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}